@charset "UTF-8";
html {
  font-size: 0.75rem;
  scroll-behavior: smooth;
}
@media (width >= 768px) {
  html {
    font-size: 1rem;
  }
}

body {
  color: #582706;
  font-size: 1rem;
  font-family: "dnp-shuei-gothic-kin-std", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
  font-weight: 600;
  line-height: 2.1875;
  letter-spacing: 0.35em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.is-open {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: underline;
  transition: 0.2s;
}
a:hover {
  color: #d4a973;
}

nav a,
.btn {
  text-decoration: none;
}
nav a:hover,
.btn:hover {
  color: #fff;
}

::-moz-selection {
  background-color: #d4a973;
  color: #fff;
}

::selection {
  background-color: #d4a973;
  color: #fff;
}

:focus-visible {
  outline: revert;
  outline-offset: 2px;
}

.is-resizing *,
.is-resizing *::before,
.is-resizing *::after {
  transition: none !important;
}

.btn {
  display: inline-block;
  margin-top: 0.625rem;
  padding: 1.25rem 1.5625rem;
  border-radius: 5px;
  color: #582706;
  line-height: 1;
  text-align: center;
  background-color: #fff;
  transition: 0.2s;
}
.btn::after {
  display: inline-block;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.625rem;
  transition: 0.2s;
}
.btn:hover {
  background-color: #d4a973;
}
.btn:hover::after {
  transform: translateX(0.3125rem);
}

.header {
  padding: 1.875rem 0;
  color: #fff;
  background: url(../images/common/pic_mainvisual.png) no-repeat center top/cover;
}
.header-home {
  padding: 5rem 0;
  background-position: center bottom;
}
.header__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
@media (width >= 768px) {
  .header__inner {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
  }
  .header-home .header__inner {
    align-items: start;
  }
}
.header__content {
  display: grid;
  row-gap: 1.875rem;
  text-align: center;
}
@media (width >= 768px) {
  .header__content {
    row-gap: 5rem;
  }
}
.header__logo {
  width: 7.5rem;
  margin: auto;
}
.header-home .header__logo {
  width: 9.375rem;
}
.header__text {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  writing-mode: vertical-rl;
  text-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.5);
}
.header-home .header__text {
  display: block;
}

.gnav {
  writing-mode: vertical-lr;
  position: fixed;
  inset: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}
.is-open .gnav {
  opacity: 1;
  visibility: visible;
}
@media (width >= 768px) {
  .gnav {
    position: static;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transition: none;
  }
}
.gnav__logo {
  width: 9.375rem;
}
@media (width >= 768px) {
  .gnav__logo {
    display: none;
  }
}
.gnav__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 0.0625rem;
  height: 4rem;
  margin: 2rem 0.625rem;
  background-color: currentColor;
}
.gnav__item a {
  display: inline-block;
  padding: 0.5rem 0.9375rem;
}
.gnav__item a:hover {
  color: #d4a973;
}
.gnav__active {
  color: #d4a973;
}

.menu {
  position: fixed;
  top: 1.875rem;
  right: 1.25rem;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  cursor: pointer;
  color: #d4a973;
  transition: 0.2s;
}
.menu:hover {
  color: #ac7735;
}
.menu::after {
  content: "\f550";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1;
  cursor: pointer;
}
.is-open .menu::after {
  content: "\f00d";
}
@media (width >= 768px) {
  .menu {
    display: none;
  }
}

.main__bg {
  background-color: #fff1df;
}
.main__pattern {
  background: #582706 url(../images/common/bg_paper.png) repeat center top;
}
.main__pattern-white {
  background-color: #fff;
  background-image: url(../images/common/bg_paper02.png);
}

.calendar {
  padding: 6.25rem 0;
}
.calendar__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.calendar__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.calendar iframe {
  width: 100%;
  height: 37.5rem;
  border: 10px solid #915730;
  border-radius: 10px;
}

.reserve {
  padding-bottom: 6.25rem;
}
.reserve__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.reserve__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.reserve__list {
  display: grid;
  gap: 1.25rem;
}
@media (width >= 768px) {
  .reserve__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.reserve__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2.5rem;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.reserve__item i {
  font-size: 3.125rem;
}
.reserve__item p {
  margin-top: 1.875rem;
}
.reserve__item:not(:last-child)::after {
  content: "\f358";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 2.5rem;
  color: #d4a973;
  position: absolute;
  top: auto;
  bottom: 0;
  right: auto;
  left: 50%;
  transform: translate(-50%, 3.25rem);
  z-index: 99;
}
@media (width >= 768px) {
  .reserve__item:not(:last-child)::after {
    content: "\f35a";
    top: 50%;
    bottom: auto;
    right: 0;
    left: auto;
    transform: translate(2.1875rem, -50%);
  }
}
.reserve__btn {
  display: block;
  width: 100%;
  max-width: 18.75rem;
  margin: 3.125rem auto 6.25rem;
  padding: 1.25rem 2.5rem;
  color: #fff;
  background-color: #d4a973;
}
.reserve__btn::after {
  display: inline-block;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.625rem;
  transition: 0.2s;
}
.reserve__btn:hover {
  background-color: #c8914c;
}
.reserve__btn:hover::after {
  transform: translateX(0.3125rem);
}

.faq {
  padding: 5rem 0;
  background-color: #fff;
}
.faq__inner {
  max-width: 800px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.faq__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.faq__title::after {
  content: "";
  display: block;
  width: 12.5rem;
  height: 0.0625rem;
  margin: 3.125rem auto;
  background-color: #582706;
}
.faq__list {
  display: grid;
  row-gap: 3.125rem;
}
.faq__question {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  align-items: end;
  margin-bottom: 1.25rem;
}
.faq__question-text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
  background-color: #915730;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 1.875rem;
  padding: 1.25rem;
  border-radius: 10px;
  position: relative;
}
@media (width >= 768px) {
  .faq__question-text {
    margin-left: 6.25rem;
  }
}
.faq__question-text::before {
  content: "\f0da";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 1.875rem;
  position: absolute;
  bottom: 0;
  right: -0.9375rem;
  color: #915730;
  line-height: 1;
  transform: translateY(-50%);
}
.faq__question img {
  width: 6.25rem;
}
.faq__answer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: end;
}
.faq__answer-text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
  background-color: #d4a973;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: 1.875rem;
  padding: 1.25rem;
  border-radius: 10px;
  position: relative;
}
@media (width >= 768px) {
  .faq__answer-text {
    margin-right: 6.25rem;
  }
}
.faq__answer-text::before {
  content: "\f0d9";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 1.875rem;
  position: absolute;
  bottom: 0;
  left: -0.625rem;
  color: #d4a973;
  line-height: 1;
  transform: translateY(-50%);
}
.faq__answer img {
  width: 6.25rem;
}

.footer {
  padding: 6.25rem 0;
  color: #fff;
  background: #582706 linear-gradient(0deg, #582706 0%, #915730 100%);
}
.footer__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.footer__logo {
  width: 9.375rem;
}
.footer__access {
  margin-bottom: 6.25rem;
}
.footer__access-title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.footer__access-map iframe {
  width: 100%;
  height: 25rem;
}
@media (width >= 768px) {
  .footer__access-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.125rem;
  }
}
.footer__access-item {
  margin-top: 3.125rem;
}
.footer__access-item dt {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.25rem;
  padding: 0 1.25rem;
  border-radius: 30px;
  background-color: #fff;
  color: #582706;
}
.footer__bottom {
  margin-bottom: 6.25rem;
}
@media (width >= 768px) {
  .footer__bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: end;
  }
}
.footer__address {
  margin-top: 1.25rem;
}
.footer__nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3.125rem 0 0;
}
.footer__nav-item a:hover {
  color: #d4a973;
}
.footer__nav-item a::before {
  content: "ー";
  margin-right: 0.625rem;
}
.footer__nav-contact {
  margin-top: 1.25rem;
}
.footer__nav-contact::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 1rem;
  margin-right: 0.625rem;
}
.footer__copy {
  text-align: center;
}

.message {
  padding: 5rem 0;
  text-align: center;
}
.message__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.message__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.message__title::after {
  display: block;
  content: "\f18c";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-size: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  transform: rotate(75deg);
}
.message__text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.top-cemetery {
  padding: 7.5rem 0 0;
  text-align: center;
}
.top-cemetery__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.top-cemetery__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.top-cemetery__title::after {
  content: "";
  display: block;
  width: 12.5rem;
  height: 0.0625rem;
  margin: 3.125rem auto;
  background-color: #582706;
}
.top-cemetery__text {
  margin-bottom: 3.75rem;
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.top-cemetery__btn {
  margin-top: 5rem;
}
.top-cemetery__img {
  display: block;
  width: clamp(12.5rem, 50%, 17.25rem);
  margin: 5rem auto 0;
  transform: translateY(8%);
}

.top-about {
  display: grid;
  row-gap: 6.25rem;
  padding: 7.5rem 0;
}
.top-about__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
@media (width >= 768px) {
  .top-about__inner {
    display: grid;
    grid-template-columns: 340fr 570fr;
  }
}
.top-about__item:nth-child(even) .top-about__pic {
  margin-left: auto;
}
.top-about__pic {
  display: block;
  margin-bottom: 3.125rem;
}
.top-about__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 3.125rem;
  writing-mode: vertical-rl;
  font-size: 1.25rem;
}
@media (width >= 768px) {
  .top-about__title {
    margin-bottom: 0;
  }
}
.top-about__text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.top-about__btn {
  margin-top: 1.875rem;
  border: 1px solid #582706;
}

#cemetery {
  background: url(../images/cemetery/pic_cemetery01.jpg) no-repeat center top/cover;
  background-attachment: fixed;
}

.cemetery__division {
  position: relative;
  width: 100%;
  margin-bottom: -0.125rem;
  aspect-ratio: 3/1;
  overflow: hidden;
}
.cemetery__division::before {
  position: absolute;
  bottom: -40%;
  left: -10%;
  content: "";
  display: block;
  width: 120%;
  aspect-ratio: 6/1;
  border-radius: 50% 50% 0 0;
  background-color: #fff;
}
.cemetery__header {
  padding: 5rem 0 12.5rem;
  background: #fff url(../images/cemetery/pic_cemetery02.png) repeat center bottom/cover;
  text-align: center;
}
@media (width >= 768px) {
  .cemetery__header {
    padding-bottom: 18.75rem;
  }
}
.cemetery__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.cemetery__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  margin-bottom: 5rem;
}
.cemetery__text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.guide {
  padding: 5rem 0;
  color: #fff;
}
.guide__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.guide__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: left;
}
.guide__title::after {
  content: "マップは横にスクロールできます。";
  display: block;
  font-size: 1rem;
}
@media (width >= 1200px) {
  .guide__title::after {
    content: "";
  }
}
.guide__map {
  max-width: 75rem;
  margin: auto;
  overflow-x: auto;
}
.guide__map-inner {
  width: 75rem;
  padding: 0rem 3.125rem 1.875rem;
  position: relative;
}
.guide__map-item {
  position: absolute;
}
.guide__map-item::after {
  display: inline-block;
  content: "";
  width: 6.25rem;
  border-bottom: 2px dashed #fff;
  position: absolute;
}
.guide__map-item.surya {
  top: 20rem;
  left: 3.125rem;
}
.guide__map-item.surya::after {
  top: 3.4375rem;
  left: 9.375rem;
  border-color: #cf383a;
  rotate: 40deg;
}
.guide__map-item.general {
  top: 15rem;
  left: 18.75rem;
}
.guide__map-item.general::after {
  top: 3.125rem;
  left: 2.5rem;
  border-color: #54b662;
  rotate: 75deg;
}
.guide__map-item.vihara {
  top: 10rem;
  left: 31.25rem;
}
.guide__map-item.vihara::after {
  top: 4.375rem;
  left: 3.75rem;
  border-color: #9d5ca2;
  rotate: 80deg;
}
.guide__map-item.interment {
  top: 12.5rem;
  left: 43.75rem;
}
.guide__map-item.interment::after {
  width: 3.125rem;
  top: 3.125rem;
  left: 3.75rem;
  border-color: #386fcf;
  rotate: 110deg;
}
.guide__map-item.dammar {
  top: 16.875rem;
  left: 57.5rem;
}
.guide__map-item.dammar::after {
  width: 5rem;
  top: 2.1875rem;
  left: -4.375rem;
  border-color: #945830;
  rotate: 160deg;
}
.guide__map-item.special {
  top: 28.125rem;
  left: 53.75rem;
}
.guide__map-item.special::after {
  width: 5rem;
  top: 2.8125rem;
  left: -2.1875rem;
  border-color: #e3ce74;
  rotate: 140deg;
}
.guide__map-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1.25rem;
  border: 2px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 98;
}
.guide__map-name:hover {
  transform: translateY(-0.3125rem);
}
.surya .guide__map-name {
  background-color: #cf383a;
}
.surya .guide__map-name:hover {
  background-color: #ab292b;
}
.general .guide__map-name {
  background-color: #54b662;
}
.general .guide__map-name:hover {
  background-color: #40974d;
}
.vihara .guide__map-name {
  background-color: #9d5ca2;
}
.vihara .guide__map-name:hover {
  background-color: #7d4a81;
}
.interment .guide__map-name {
  background-color: #386fcf;
}
.interment .guide__map-name:hover {
  background-color: #2958ab;
}
.dammar .guide__map-name {
  background-color: #945830;
}
.dammar .guide__map-name:hover {
  background-color: #6d4124;
}
.special .guide__map-name {
  background-color: #e3ce74;
}
.special .guide__map-name:hover {
  background-color: #dabf4a;
}
.guide__map-info {
  display: none;
}

.features {
  padding: 0 0 5rem;
}
.features__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.features__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  color: #fff;
}
.features__list {
  display: grid;
  gap: 3.125rem;
}
@media (width >= 768px) {
  .features__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.features__item {
  padding: 2.5rem;
  border-radius: 10px;
  background-color: #fff1df;
}
.features__item-title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.features__icon {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto 1.25rem;
  padding: 1.25rem;
  border-radius: 50%;
  background-color: #582706;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prayer__header {
  background: url(../images/top/pic_top_about01.png) no-repeat center/cover;
}
.prayer__header-inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.prayer__header-title {
  writing-mode: vertical-rl;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3.125rem 6.25rem;
  background-color: #fff;
}
.prayer__about {
  padding: 6.25rem;
  text-align: center;
}
.prayer__about-inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.prayer__about-title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.prayer__about-title::after {
  content: "";
  display: block;
  width: 12.5rem;
  height: 0.0625rem;
  margin: 3.125rem auto;
  background-color: #582706;
}
.prayer__about-text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.details {
  padding: 5rem 0;
}
.details__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.details__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  padding: 4.375rem 0;
  background: url(../images/top/pic_top_about01.png) no-repeat center/cover;
  color: #fff;
  text-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.6);
}
.details__list {
  max-width: 53.125rem;
  margin: 3.125rem auto 5rem;
  padding-top: 1.875rem;
  border-top: 1px solid #582706;
}
.details__item {
  display: grid;
  grid-template-columns: 7em 1fr;
  gap: 2.5rem;
  align-items: center;
  margin-bottom: 1.875rem;
  padding: 0 1.875rem 1.875rem;
  border-bottom: 1px solid #582706;
}
.details__item dt {
  padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
  border-radius: 10px;
  background-color: #915730;
  color: #fff;
  text-align: center;
}
.details__item dd {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.details__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 5rem;
  background-color: #582706;
  -webkit-clip-path: polygon(1.25rem 0%, calc(100% - 1.25rem) 0%, 100% 1.25rem, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 1.25rem 100%, 0% calc(100% - 1.25rem), 0% 1.25rem);
          clip-path: polygon(1.25rem 0%, calc(100% - 1.25rem) 0%, 100% 1.25rem, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 1.25rem 100%, 0% calc(100% - 1.25rem), 0% 1.25rem);
}
.details__info::before {
  content: "";
  position: absolute;
  inset: 1px;
  z-index: -1;
  background-color: #fff;
  -webkit-clip-path: inherit;
          clip-path: inherit;
}
.details__info-title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.details__info-title span {
  display: block;
  font-size: 0.875rem;
}
.details__info-text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.memorial {
  padding: 5rem 0;
}
.memorial__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.memorial__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  padding: 4.375rem 0;
  background: url(../images/top/pic_top_about02.png) no-repeat center/cover;
  color: #fff;
  text-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.6);
}
.memorial__list {
  max-width: 53.125rem;
  margin: 3.125rem auto 5rem;
  padding-top: 1.875rem;
  border-top: 1px solid #582706;
}
.memorial__item {
  display: grid;
  grid-template-columns: 7em 1fr;
  gap: 3.125rem;
  align-items: center;
  margin-bottom: 1.875rem;
  padding: 0 1.875rem 1.875rem;
  border-bottom: 1px solid #582706;
}
.memorial__item dt {
  padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
  border-radius: 10px;
  background-color: #915730;
  color: #fff;
  text-align: center;
}
.memorial__item dd {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.flow {
  padding: 5rem 0;
}
.flow__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.flow__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  color: #fff;
}
.flow__text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.flow__list {
  display: grid;
  margin-bottom: 3.125rem;
}
@media (width >= 1200px) {
  .flow__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.flow__item {
  background-color: #fff;
  padding: 3.125rem;
  -webkit-clip-path: polygon(0% 0, 50% 1.25rem, 100% 0, 100% calc(100% - 1.25rem), 50% 100%, 0% calc(100% - 1.25rem));
          clip-path: polygon(0% 0, 50% 1.25rem, 100% 0, 100% calc(100% - 1.25rem), 50% 100%, 0% calc(100% - 1.25rem));
}
.flow__item:first-child {
  padding-top: 2.5rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1.25rem), 50% 100%, 0% calc(100% - 1.25rem));
          clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1.25rem), 50% 100%, 0% calc(100% - 1.25rem));
}
.flow__item:last-child {
  padding-bottom: 2.5rem;
  -webkit-clip-path: polygon(0% 0, 50% 1.25rem, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0, 50% 1.25rem, 100% 0, 100% 100%, 0% 100%);
}
@media (width >= 1200px) {
  .flow__item {
    padding: 1.875rem 3.75rem;
    -webkit-clip-path: polygon(calc(100% - 1.25rem) 0%, 100% 50%, calc(100% - 1.25rem) 100%, 0% 100%, 1.25rem 50%, 0% 0%);
            clip-path: polygon(calc(100% - 1.25rem) 0%, 100% 50%, calc(100% - 1.25rem) 100%, 0% 100%, 1.25rem 50%, 0% 0%);
  }
  .flow__item:first-child {
    padding-left: 2.5rem;
    -webkit-clip-path: polygon(calc(100% - 1.25rem) 0%, 100% 50%, calc(100% - 1.25rem) 100%, 0% 100%, 0% 0%);
            clip-path: polygon(calc(100% - 1.25rem) 0%, 100% 50%, calc(100% - 1.25rem) 100%, 0% 100%, 0% 0%);
  }
  .flow__item:last-child {
    padding-right: 2.5rem;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 1.25rem 50%, 0% 0%);
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 1.25rem 50%, 0% 0%);
  }
}
.flow__item-title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.flow__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.25rem;
  background-color: #fff;
  color: #fff;
  -webkit-clip-path: polygon(1.25rem 0%, calc(100% - 1.25rem) 0%, 100% 1.25rem, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 1.25rem 100%, 0% calc(100% - 1.25rem), 0% 1.25rem);
          clip-path: polygon(1.25rem 0%, calc(100% - 1.25rem) 0%, 100% 1.25rem, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 1.25rem 100%, 0% calc(100% - 1.25rem), 0% 1.25rem);
}
.flow__info::before {
  content: "";
  position: absolute;
  inset: 1px;
  z-index: -1;
  background: #915730 url("../images/common/bg_paper.png") no-repeat center/cover;
  -webkit-clip-path: inherit;
          clip-path: inherit;
}
.flow__info-title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  margin-bottom: 0;
}
.flow__info-title span {
  display: block;
  font-size: 0.875rem;
}
.flow__info-text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.other {
  padding: 7.5rem 0 5rem;
}
.other__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
  border: 1px solid #582706;
  position: relative;
}
.other__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0 1.25rem;
  border: 1px solid #582706;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.other__text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.other__list {
  display: grid;
  gap: 5rem;
}
.other__item-title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  font-size: 1.125rem;
}
.other__item-title::after {
  content: "";
  display: block;
  width: 12.5rem;
  height: 0.0625rem;
  margin: 3.125rem auto;
  background-color: #582706;
}
.other__item-title::after {
  margin: 0.625rem auto;
}
.other__item-text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.reserve-info {
  padding: 5rem 0;
  text-align: center;
}
.reserve-info__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.reserve-info__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.reserve-info__title::after {
  content: "";
  display: block;
  width: 12.5rem;
  height: 0.0625rem;
  margin: 3.125rem auto;
  background-color: #582706;
}
.reserve-info__text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
  margin-bottom: 3.125rem;
}
.reserve-info__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem 0.625rem;
}
.reserve-info__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 25rem;
  margin: auto;
  padding: 2.5rem;
  border: 1px solid #582706;
  border-radius: 50%;
  background-color: #fff;
}
@media (width >= 768px) {
  .reserve-info__item {
    width: 40%;
  }
}
@media (width >= 1200px) {
  .reserve-info__item {
    width: 30%;
  }
}
.reserve-info__item dt {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  font-size: 1rem;
}
.reserve-info__item dt::after {
  content: "";
  display: block;
  width: 12.5rem;
  height: 0.0625rem;
  margin: 3.125rem auto;
  background-color: #582706;
}
.reserve-info__item dt::after {
  margin: 0.625rem auto;
}
.reserve-info__item dd {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.reserve-info__item dd:has(a) {
  display: block;
}

#contact {
  background-color: #fff1df;
}
#contact .calendar {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125rem;
  padding: 1.875rem 3.125rem;
  border-radius: 10px;
  background-color: #fff;
}
#contact .calendar__inner {
  width: 100%;
}
#contact .calendar__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.contact__header {
  background: url(../images/top/pic_top_about01.png) no-repeat center/cover;
  margin-bottom: 5rem;
}
.contact__header-inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  min-height: 16.25rem;
}
.contact__header-title {
  writing-mode: vertical-rl;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3.125rem 6.25rem;
  background-color: #fff;
}

.form__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125rem;
  padding: 1.875rem 3.125rem;
  border-radius: 10px;
  background-color: #fff;
}
.form__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.form iframe {
  width: 100%;
  height: 37.5rem;
  border: 10px solid #915730;
  border-radius: 10px;
}

.caution__inner {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125rem;
  padding: 1.875rem 3.125rem;
  border-radius: 10px;
  background-color: #fff;
}
.caution__title {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.caution__text {
  margin-bottom: 1.875rem;
  position: relative;
}
.caution__text-title {
  position: relative;
  margin-bottom: 1.25rem;
}
.caution__text-title::after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: 1px solid #582706;
  position: absolute;
  top: 50%;
  left: 0;
}
.caution__text-title span {
  padding-right: 0.625rem;
  background-color: #fff1df;
  position: relative;
  z-index: 10;
}
.caution__text-text {
  display: grid;
  row-gap: 1.25rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
.caution__text-body {
  margin-top: 5rem;
  padding: 3.125rem;
  background-color: #fff1df;
}
@media (width >= 768px) {
  .caution__text-body {
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    padding-left: 5rem;
  }
}
.caution__text-img {
  width: 7.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;
  border-radius: 50%;
  background-color: #fff1df;
}
@media (width >= 768px) {
  .caution__text-img {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}
/*# sourceMappingURL=style.css.map */