@use 'sass:math';

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-text: #582706;
$color-base: #fff;
$color-main: #915730;
$color-accent: #d4a973;
$color-bg: #fff1df;
$color-surya: #cf383a;
$color-general: #54b662;
$color-vihara: #9d5ca2;
$color-interment: #386fcf;
$color-dammar: #945830;
$color-special: #e3ce74;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: 'dnp-shuei-gothic-kin-std', 'Helvetica Neue', Arial,
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Yu Gothic', Meiryo, sans-serif;
$font-family-mincho: 'Times New Roman', Times, 'Hiragino Mincho ProN',
  'Yu Mincho', 'MS PMincho', serif;

// --- Breakpoints ---
$breakpoints: (
  'tablet': 768px,
  'desktop': 1200px,
);

// --- Font Awesome ---
$types: (
  'free': 'Font Awesome 5 Free',
  'solid': 'Font Awesome 5 Solid',
  'regular': 'Font Awesome 5 Regular',
  'brands': 'Font Awesome 5 Brands',
  'light': 'Font Awesome 5 Light',
);

// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $value - px値
// @return {string} - rem値
@function rem($value) {
  @return #{math.div($value, $font-size-base)}rem;
}

// Figmaのトラッキング値をemに変換する
// @param {number} $value - Figmaのトラッキング値
// @return {string} - em値
@function ls($value) {
  @return #{math.div($value, 1000)}em;
}

// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
  @media (width >=map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 1200px, $w: 88%) {
  max-width: $mw;
  width: $w;
  margin-left: auto;
  margin-right: auto;
}

@mixin title-main() {
  margin-bottom: rem(30);
  font-size: rem(20);
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;

  &::after {
    content: '';
    display: block;
    width: rem(200);
    height: rem(1);
    margin: rem(50) auto;
    background-color: $color-text;
  }
}

@mixin title-sub() {
  margin-bottom: rem(30);
  font-size: rem(20);
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

@mixin text-main() {
  display: grid;
  row-gap: rem(20);
  word-break: keep-all;
  overflow-wrap: anywhere;
}

@mixin font-icon($size: 16, $weight: 600, $type: free) {
  font-family: map-get($types, $type);
  font-weight: $weight;
  font-size: rem($size);
}

// =================================================================
//  Common
// =================================================================
html {
  font-size: rem($font-size-base * 0.875);
  scroll-behavior: smooth;

  @include mq(tablet) {
    font-size: rem($font-size-base);
  }
}

body {
  color: $color-text;
  font-size: rem($font-size-base);
  font-family: $font-family-gothic;
  font-weight: 600;
  line-height: math.div(35, $font-size-base);
  letter-spacing: ls(350);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

::selection {
  background-color: $color-accent;
  color: #fff;
}

:focus-visible {
  outline: revert;
  outline-offset: 2px;
}

.btn {
  display: inline-block;
  margin-top: rem(10);
  padding: rem(20) rem(25);
  border-radius: 5px;
  color: $color-text;
  line-height: 1;
  background-color: #fff;
  transition: 0.2s;

  &::after {
    display: inline-block;
    content: '\f061';
    @include font-icon(16);
    margin-left: rem(10);
    transition: 0.2s;
  }

  &:hover {
    background-color: darken($color-accent, 0%);

    &::after {
      transform: translateX(rem(5));
    }
  }
}

.header {
  padding: rem(30) 0;
  color: #fff;
  background: url(../images/common/pic_mainvisual.png) no-repeat center
    top/cover;

  &-home {
    padding: rem(80) 0;
    background-position: center bottom;
  }

  &__inner {
    @include inner();

    @include mq(tablet) {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: center;

      .header-home & {
        align-items: start;
      }
    }
  }

  &__content {
    display: grid;
    row-gap: rem(30);
    text-align: center;

    @include mq(tablet) {
      row-gap: rem(80);
    }
  }

  &__text {
    width: fit-content;
    margin: auto;
    writing-mode: vertical-rl;
    text-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.5);
  }
}

.gnav {
  display: none;
  writing-mode: vertical-lr;

  @include mq(tablet) {
    display: block;
  }

  &__item {
    &:not(:last-child)::after {
      content: '';
      display: block;
      width: rem(1);
      height: rem($font-size-base * 4);
      margin: rem($font-size-base * 2) rem(10);
      background-color: currentColor;
    }

    a {
      display: inline-block;
      padding: rem(8) rem(15);
    }
  }
}

.menu {
  position: fixed;
  top: rem(30);
  right: rem(20);

  &::after {
    content: '\f550';
    display: block;
    @include font-icon(40);
    line-height: 1;
    cursor: pointer;
  }

  @include mq(tablet) {
    display: none;
  }
}

.main {
  &__bg {
    background-color: $color-bg;
  }

  &__pattern {
    background: $color-text url(../images/common/bg_paper.png) repeat center top;
  }
}

.calendar {
  padding: rem(100) 0;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-sub();
  }

  iframe {
    width: 100%;
    height: rem(600);
    border: 10px solid $color-main;
    border-radius: 10px;
  }
}

.reserve {
  padding-bottom: rem(100);

  &__inner {
    @include inner();
  }

  &__title {
    @include title-sub();
  }

  &__list {
    display: grid;
    gap: rem(20);

    @include mq(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(80) rem(40);
    background-color: #fff;
    text-align: center;
    position: relative;

    i {
      font-size: rem(50);
    }

    p {
      margin-top: rem(30);
    }

    &:not(:last-child)::after {
      content: '\f358';
      @include font-icon(40);
      color: $color-accent;
      position: absolute;
      top: auto;
      bottom: 0;
      right: auto;
      left: 50%;
      transform: translate(-50%, rem(52));
      z-index: 99;

      @include mq(tablet) {
        content: '\f35a';
        top: 50%;
        bottom: auto;
        right: 0;
        left: auto;
        transform: translate(rem(35), -50%);
      }
    }
  }

  &__btn {
    display: block;
    width: 100%;
    max-width: rem(300);
    margin: rem(50) auto rem(100);
    padding: rem(20) rem(40);
    border-radius: 5px;
    color: #fff;
    line-height: 1;
    text-align: center;
    background-color: $color-accent;
    transition: 0.2s;

    &::after {
      display: inline-block;
      content: '\f061';
      @include font-icon(16);
      margin-left: rem(10);
      transition: 0.2s;
    }

    &:hover {
      background-color: darken($color-accent, 10%);

      &::after {
        transform: translateX(rem(5));
      }
    }
  }
}

.faq {
  padding: rem(80) 0;
  background-color: #fff;

  &__inner {
    @include inner(800px);
  }

  &__title {
    @include title-main();
  }

  &__list {
    display: grid;
    row-gap: rem(50);
  }

  &__question {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    align-items: end;
    margin-bottom: rem(20);

    &-text {
      @include text-main();
      background-color: $color-main;
      color: #fff;
      width: fit-content;
      margin-left: auto;
      margin-right: rem(30);
      padding: rem(20);
      border-radius: 10px;
      position: relative;

      @include mq(tablet) {
        margin-left: rem(100);
      }

      &::before {
        content: '\f0da';
        display: inline-block;
        @include font-icon(30);
        position: absolute;
        top: 50%;
        right: -15px;
        color: $color-main;
        line-height: 1;
        transform: translateY(-50%);
      }
    }

    img {
      width: rem(100);
    }
  }

  &__answer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: end;

    &-text {
      @include text-main();
      background-color: $color-accent;
      color: #fff;
      width: fit-content;
      margin-right: auto;
      margin-left: rem(30);
      padding: rem(20);
      border-radius: 10px;
      position: relative;

      @include mq(tablet) {
        margin-right: rem(100);
      }

      &::before {
        content: '\f0d9';
        display: inline-block;
        @include font-icon(30);
        position: absolute;
        top: 50%;
        left: -10px;
        color: $color-accent;
        line-height: 1;
        transform: translateY(-50%);
      }
    }

    img {
      width: rem(100);
    }
  }
}

.footer {
  padding: rem(100) 0;
  color: #fff;
  background: $color-text
    linear-gradient(0deg, $color-text 0%, $color-main 100%);

  &__inner {
    @include inner();
  }

  &__logo {
    width: rem(150);
  }

  &__access {
    margin-bottom: rem(100);

    &-title {
      @include title-sub();
    }

    &-map {
      iframe {
        width: 100%;
        height: rem(400);
      }
    }

    &-list {
      @include mq(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(50);
      }
    }

    &-item {
      margin-top: rem(50);

      dt {
        width: fit-content;
        margin-bottom: rem(20);
        padding: 0 rem(20);
        border-radius: 30px;
        background-color: #fff;
        color: $color-text;
      }
    }
  }

  &__bottom {
    margin-bottom: rem(100);

    @include mq(tablet) {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__address {
    margin-top: rem(20);
  }

  &__nav {
    width: fit-content;
    margin: rem(80) 0 0;

    &-item {
      & a::before {
        content: 'ー';
        margin-right: rem(10);
      }
    }

    &-contact {
      margin-top: rem(20);
      &::before {
        content: '\f0e0';
        @include font-icon(16, 400);
        margin-right: rem(10);
      }
    }
  }

  &__copy {
    text-align: center;
  }
}

// =================================================================
//  Index
// =================================================================

.message {
  padding: rem(80) 0;
  text-align: center;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-sub();

    &::after {
      display: block;
      content: '\f18c';
      @include font-icon(40, 400, brands);
      width: fit-content;
      margin: auto;
      transform: rotate(75deg);
    }
  }

  &__text {
    @include text-main();
  }
}

.top-cemetery {
  padding: rem(120) 0 0;
  text-align: center;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-main();
  }

  &__text {
    margin-bottom: rem(60);
    @include text-main();
  }

  &__btn {
    margin-top: rem(80);
  }

  &__img {
    display: block;
    width: clamp(rem(200), 50%, rem(276));
    margin: rem(80) auto 0;
    transform: translateY(8%);
  }
}

.top-about {
  display: grid;
  row-gap: rem(100);
  padding: rem(120) 0;

  &__inner {
    @include inner();

    @include mq(tablet) {
      display: grid;
      grid-template-columns: 340fr 570fr;
    }
  }

  &__item:nth-child(even) &__pic {
    margin-left: auto;
  }

  &__pic {
    display: block;
    margin-bottom: rem(50);
  }

  &__title {
    width: fit-content;
    margin: 0 auto rem(50);
    writing-mode: vertical-rl;
    font-size: rem(20);

    @include mq(tablet) {
      margin-bottom: 0;
    }
  }

  &__text {
    @include text-main();
  }

  &__btn {
    margin-top: rem(30);
    border: 1px solid $color-text;
  }
}

// =================================================================
//  Cemetery
// =================================================================

#cemetery {
  background: url(../images/cemetery/pic_cemetery01.jpg) no-repeat center
    top/cover;
  background-attachment: fixed;
}

.cemetery {
  &__division {
    position: relative;
    width: 100%;
    margin-bottom: rem(-2);
    aspect-ratio: 3/1;
    overflow: hidden;

    &::before {
      position: absolute;
      bottom: -40%;
      left: -10%;
      content: '';
      display: block;
      width: 120%;
      aspect-ratio: 6/1;
      border-radius: 50% 50% 0 0;
      background-color: #fff;
    }
  }

  &__header {
    padding: rem(80) 0 rem(400);
    background: #fff url(../images/cemetery/pic_cemetery02.png) repeat center
      bottom/cover;
    text-align: center;
  }

  &__inner {
    @include inner();
  }

  &__title {
    @include title-sub();
    margin-bottom: rem(80);
  }

  &__text {
    @include text-main();
  }
}

.guide {
  color: #fff;
  position: relative;
  z-index: 99;

  &__inner {
    @include inner();
    position: relative;
  }

  &__title {
    @include title-sub();
    position: absolute;
    top: rem(80);
    left: 0;
    z-index: 99;
    text-align: left;

    &::after {
      content: 'マップはスクロールできます。';
      display: block;
      font-size: rem(16);

      @include mq(desktop) {
        content: '';
      }
    }
  }

  &__map {
    max-width: rem(1200);
    margin: auto;
    overflow-x: auto;
    transform: translateY(-6%);

    &-inner {
      width: rem(1200);
      padding: 0 rem(50) rem(50);
      position: relative;
    }

    &-item {
      position: absolute;

      &::after {
        display: inline-block;
        content: '';
        width: rem(100);
        border-bottom: 2px dashed #fff;
        position: absolute;
      }

      &.surya {
        top: rem(320);
        left: rem(50);

        &::after {
          top: rem(55);
          left: rem(150);
          border-color: $color-surya;
          rotate: (40deg);
        }
      }

      &.general {
        top: rem(240);
        left: rem(300);

        &::after {
          top: rem(50);
          left: rem(40);
          border-color: $color-general;
          rotate: (75deg);
        }
      }

      &.vihara {
        top: rem(160);
        left: rem(500);

        &::after {
          top: rem(70);
          left: rem(60);
          border-color: $color-vihara;
          rotate: (80deg);
        }
      }

      &.interment {
        top: rem(200);
        left: rem(700);

        &::after {
          width: rem(50);
          top: rem(50);
          left: rem(60);
          border-color: $color-interment;
          rotate: (110deg);
        }
      }

      &.dammar {
        top: rem(270);
        left: rem(920);

        &::after {
          width: rem(80);
          top: rem(35);
          left: rem(-70);
          border-color: $color-dammar;
          rotate: (160deg);
        }
      }

      &.special {
        top: rem(450);
        left: rem(860);

        &::after {
          width: rem(80);
          top: rem(45);
          left: rem(-35);
          border-color: $color-special;
          rotate: (140deg);
        }
      }
    }

    &-name {
      width: fit-content;
      padding: 0 rem(20);
      border: 2px solid #fff;
      border-radius: 50px;
      box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: 0.2s;
      position: relative;
      z-index: 98;

      &:hover {
        transform: translateY(rem(-5));
      }

      .surya & {
        background-color: $color-surya;

        &:hover {
          background-color: darken($color-surya, 10%);
        }
      }

      .general & {
        background-color: $color-general;

        &:hover {
          background-color: darken($color-general, 10%);
        }
      }

      .vihara & {
        background-color: $color-vihara;

        &:hover {
          background-color: darken($color-vihara, 10%);
        }
      }

      .interment & {
        background-color: $color-interment;

        &:hover {
          background-color: darken($color-interment, 10%);
        }
      }

      .dammar & {
        background-color: $color-dammar;

        &:hover {
          background-color: darken($color-dammar, 10%);
        }
      }

      .special & {
        background-color: $color-special;

        &:hover {
          background-color: darken($color-special, 10%);
        }
      }
    }

    &-info {
      display: none;
    }
  }
}

.features {
  padding: 0 0 rem(80);

  &__inner {
    @include inner();
  }

  &__title {
    @include title-sub();
    color: #fff;
  }

  &__list {
    display: grid;
    gap: rem(50);

    @include mq(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    padding: rem(40);
    border-radius: 10px;
    background-color: $color-bg;

    &-title {
      @include title-sub();
    }
  }

  &__icon {
    width: rem(100);
    height: rem(100);
    margin: 0 auto rem(20);
    padding: rem(20);
    border-radius: 50%;
    background-color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// =================================================================
//  Prayer
// =================================================================

.prayer {
  &__header {
    background: url(../images/top/pic_top_about01.png) no-repeat center/cover;

    &-inner {
      @include inner();
    }

    &-title {
      writing-mode: vertical-rl;
      width: fit-content;
      padding: rem(50) rem(100);
      background-color: #fff;
    }
  }

  &__about {
    padding: rem(100);
    text-align: center;

    &-inner {
      @include inner();
    }

    &-title {
      @include title-main();
    }

    &-text {
      @include text-main();
    }
  }
}

.details {
  padding: rem(80) 0;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-sub();
    padding: rem(70) 0;
    background: url(../images/top/pic_top_about01.png) no-repeat center/cover;
    color: #fff;
    text-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.6);
  }

  &__list {
    max-width: rem(850);
    margin: rem(50) auto rem(80);
    padding-top: rem(30);
    border-top: 1px solid $color-text;
  }

  &__item {
    display: grid;
    grid-template-columns: 7em 1fr;
    gap: rem(50);
    align-items: center;
    margin-bottom: rem(30);
    padding: 0 rem(30) rem(30);
    border-bottom: 1px solid $color-text;

    dt {
      padding: rem(5) rem(5) rem(5) rem(10);
      border-radius: 10px;
      background-color: $color-main;
      color: #fff;
      text-align: center;
    }

    dd {
      @include text-main();
    }
  }

  &__info {
    clip-path: polygon(
      5% 0%,
      95% 0%,
      100% 20%,
      100% 80%,
      95% 100%,
      5% 100%,
      0% 80%,
      0% 20%
    );

    padding: rem(50) rem(80);
    border: 2px solid $color-text;

    &-title {
      @include title-sub();

      span {
        display: block;
        font-size: rem(14);
      }
    }

    &-text {
      @include text-main();
    }
  }
}

.memorial {
  padding: rem(80) 0;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-sub();
    padding: rem(70) 0;
    background: url(../images/top/pic_top_about02.png) no-repeat center/cover;
    color: #fff;
    text-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.6);
  }

  &__list {
    max-width: rem(850);
    margin: rem(50) auto rem(80);
    padding-top: rem(30);
    border-top: 1px solid $color-text;
  }

  &__item {
    display: grid;
    grid-template-columns: 7em 1fr;
    gap: rem(50);
    align-items: center;
    margin-bottom: rem(30);
    padding: 0 rem(30) rem(30);
    border-bottom: 1px solid $color-text;

    dt {
      padding: rem(5) rem(5) rem(5) rem(10);
      border-radius: 10px;
      background-color: $color-main;
      color: #fff;
      text-align: center;
    }

    dd {
      @include text-main();
    }
  }
}

.flow {
  padding: rem(80) 0;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-sub();
    color: #fff;
  }

  &__text {
    @include text-main();
  }

  &__info {
    clip-path: polygon(
      5% 0%,
      95% 0%,
      100% 20%,
      100% 80%,
      95% 100%,
      5% 100%,
      0% 80%,
      0% 20%
    );

    padding: rem(50);
    border: 2px solid #fff;
    color: #fff;

    &-title {
      @include title-sub();
      margin-bottom: 0;

      span {
        display: block;
        font-size: rem(14);
      }
    }

    &-text {
      @include text-main();
    }
  }
}

.other {
  padding: rem(120) 0 rem(80);

  &__inner {
    @include inner();
    padding: rem(80);
    border: 1px solid $color-text;
    position: relative;
  }

  &__title {
    @include title-sub();
    width: fit-content;
    margin: auto;
    padding: 0 rem(20);
    border: 1px solid $color-text;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }

  &__text {
    @include text-main();
  }

  &__list {
    display: grid;
    gap: rem(80);
  }

  &__item {
    &-title {
      @include title-main();
      font-size: rem(18);

      &::after {
        margin: rem(10) auto;
      }
    }

    &-text {
      @include text-main();
    }
  }
}

// =================================================================
//  Contact
// =================================================================

#contact {
  background-color: $color-bg;

  .calendar {
    @include inner();
    margin-bottom: rem(50);
    padding: rem(30) rem(50);
    border-radius: 10px;
    background-color: #fff;

    &__inner {
      width: 100%;
    }

    &__title {
      @include title-sub();
    }
  }
}

.contact {
  &__header {
    background: url(../images/top/pic_top_about01.png) no-repeat center/cover;
    margin-bottom: rem(80);

    &-inner {
      @include inner();
      display: grid;
      min-height: rem(260);
    }

    &-title {
      writing-mode: vertical-rl;
      width: fit-content;
      padding: rem(50) rem(100);
      background-color: #fff;
    }
  }
}

.form {
  &__inner {
    @include inner();
    margin-bottom: rem(50);
    padding: rem(30) rem(50);
    border-radius: 10px;
    background-color: #fff;
  }

  &__title {
    @include title-sub();
  }

  iframe {
    width: 100%;
    height: rem(600);
    border: 10px solid $color-main;
    border-radius: 10px;
  }
}

.caution {
  &__inner {
    @include inner();
    margin-bottom: rem(50);
    padding: rem(30) rem(50);
    border-radius: 10px;
    background-color: #fff;
  }

  &__title {
    @include title-sub();
  }

  &__text {
    margin-bottom: rem(30);
    position: relative;

    &-title {
      position: relative;

      &::after {
        display: block;
        content: '';
        width: 100%;
        border-bottom: 1px solid $color-text;
        position: absolute;
        top: 50%;
        left: 0;
      }

      span {
        padding-right: rem(10);
        background-color: $color-bg;
        position: relative;
        z-index: 10;
      }
    }

    &-text {
      @include text-main();
    }

    &-body {
      margin-top: rem(80);
      padding: rem(50) rem(50) rem(30) rem(50);
      background-color: $color-bg;

      @include mq(tablet) {
        margin-top: rem(50);
        margin-left: rem(50);
        padding-left: rem(80);
      }
    }

    &-img {
      width: rem(120);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: rem(20);
      border-radius: 50%;
      background-color: $color-bg;

      @include mq(tablet) {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
    }
  }
}
